%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "bootstrap/css/bootstrap.css"}
    %title= params[:name]
  %body
    .container
      - if @files.length > 0 
        %ul.nav.nav-pills
          %li
            %a{ :href => '/' }
              Index
          - @files.each do |file|
            - link = File.basename(file['path']).gsub!(/.txt$/,'')
            %li
              %a{ :href => link }= link
      .page-header 
        - if @file
          - title = File.basename(params[:name]).gsub!(/.txt$/,'')
          :textile
            #{@file}
